<%= simple_form_for(recipe) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name %>
    </div>

    <div class="field">
    <%= f.input :summary %>
    </div>

  
  <div class="field">
   <%= f.association :categories, input_html: { id: 'selectized'} ,placeholder: "Select categories......" %>
  </div>

    <div class="field">
    <%= f.input :description %>
    </div>

    <div class="field"><%= image_tag(@recipe.image.thumb.url) if @recipe.image? %>
      <%= f.input :image %>
      <%= f.hidden_field :image_cache %>
    </div>
 

  <h4>Ingredients</h4>
  <div class="field">
    <div id="tasks">
      <%= f.simple_fields_for :ingredients do |ing| %>
      <%= render 'ingredient_fields', f: ing %>
      <%end%>
      <div class="links">
        <%= link_to_add_association 'Add ingredients', f, :ingredients %></div>
    </div>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>

