<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @recipe.image ,size: "600x350"%>
</p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>


<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<h2>Ingrident Used</h2>
      <% @recipe.ingredients.each do |ingrident| %>
      <p><%= ingrident.name %></p>
      <%end %>
      <br>
<% if can? :update, @recipe %>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> 
  |<%end%>
  <% if can? :update, @recipe %>
<%= link_to "Delete this Recipe", recipe_path(@recipe),
                                    method: :delete,
                                    data: { confirm: "Are you sure you want to delete this Recipe?"} %>
<%end%>
 <br>
 <h2>Comments</h2>


<%= link_to 'Back', recipes_path %> <br>


    <%= render @recipe.comments %>

    <%= render 'comments/form'%>