<nav class="navbar sticky-top yamm navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to root_path do %>
  <%= image_tag('main_clean.svg', class: "navbar-brand") %>
  <%end%>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    <li class="nav-item">
          <div class="dropdown yamm-fw">
              <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuYamm3FW" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recipes</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuYamm3FW">
              <li>
                <!-- Content container to add padding -->
                <div class="yamm-content">
                  <div class="row">
                    <ul class="col list-unstyled">
                      <li>
                        <p><strong>HEALTHY RECIPES</strong></p>
                      </li>
                      <li><%=link_to 'All Recipes',recipes_path%></li>
                      <% @categories.each do |category| %>
                      <li><%=link_to category.name%></li>          
                      <%end%>
                    </ul>
                    <ul class="col list-unstyled">
                      <li>
                        <p><strong>Continent</strong></p>
                      </li>
                    </ul>
                    <ul class="col list-unstyled">
                      <li>
                        <p><strong>SPECIAL DIETS</strong></p>
                      </li>
                      <li>List Item</li>
                      <li>List Item</li>
                      <li>List Item</li>
                      <li>List Item</li>
                      <li>List Item</li>
                      <li>List Item</li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
      </li>
       <li><%= link_to 'New Recipe', new_recipe_path ,class: "nav-link" if user_signed_in?%></li>
    </ul>

    <div class="form-inline">
    <ul class="navbar-nav mr-auto">
      <% if !user_signed_in? %>
      <li class="nav-item">
         <%= link_to 'Log In', new_user_session_path ,class: "nav-link"%>
      </li>
      <li class="nav-item">
         <%= link_to 'Register', new_user_registration_path ,class: "nav-link"%>
      </li>
      <%else%>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= gravatar_tag current_user, size: 30 , class: 'gravatar' %>&nbsp;
          <%= current_user.name%>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to 'Profile', profile_path(current_user.name), class: "dropdown-item"%>
           <div class="dropdown-divider"></div>
          <%= link_to 'Settings', edit_user_registration_path, class: "dropdown-item" %>
           <div class="dropdown-divider"></div>
           <%= link_to favorites_path(current_user), class: "dropdown-item" do %>Favorites
            <span class="badge badge-danger"><%=current_user.favorites.count%> </span>
            <%end%>
          <div class="dropdown-divider"></div>
        <%= link_to 'Log Out', destroy_user_session_path, class: "dropdown-item", method: :delete %>
        </div>
      <%end%>
    </ul>
    </div>

    <!-- <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
 -->
    </div>
</nav>


