<nav class="navbar yamm navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= image_tag('main_clean.svg', class: "navbar-brand") %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
            <div class="dropdown yamm-fw">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuYamm3FW" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recipes</a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuYamm3FW">
                <li>
                  <!-- Content container to add padding -->
                  <div class="yamm-content">
                    <div class="row">
                      <ul class="col list-unstyled">
                        <li>
                          <p><strong>HEALTHY RECIPES</strong></p>
                        </li>
                        <% @categories.each do |category| %>
                        <li><%=link_to category.name%></li>          
                        <%end%>
                      </ul>
                      <ul class="col list-unstyled">
                        <li>
                          <p><strong>Continent</strong></p>
                        </li>
                      </ul>
                      <ul class="col list-unstyled">
                        <li>
                          <p><strong>SPECIAL DIETS</strong></p>
                        </li>
                        <li>List Item</li>
                        <li>List Item</li>
                        <li>List Item</li>
                        <li>List Item</li>
                        <li>List Item</li>
                        <li>List Item</li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
        </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="form-inline">
    <ul class="navbar-nav mr-auto">
      <% if !user_signed_in? %>
      <li class="nav-item">
         <%= link_to 'Log In', new_user_session_path ,class: "nav-link"%>
      </li>
      <li class="nav-item">
         <%= link_to 'Register', new_user_registration_path ,class: "nav-link"%>
      </li>
      <%else%>
      <li class="nav-item">
        <%= link_to 'Log Out', destroy_user_session_path, class: "nav-link", method: :delete %>
      </li>
      <%end%>
    </ul>
   </div>
  </div>
</nav>


