<section class="h_one">
  <div class="row justify-content-sm-center">
    <h4 class="text-center">Latest Recipes</h4>
    <div class="d-flex justify-content-center">
      <hr class="ps p-4 text-center">
    </div>
    
      <div class="wrapper_section_one">
        <div class="scroller">
        <% @recipes.each do |recipe|%>
          <div class="">
              <%= link_to recipe do %>
                <%= image_tag recipe.image ,size: 250%>
              <%end%>
          <h6 class="text-center"><%=recipe.name%></h6>
          </div>
          <%end%>
        </div>
      </div>
  </div>
</section>

<section class="h_two">
  <div class="wrapper_section_two">
    <div class="d-flex justify-content-center P-4">
      <h5 class="">Get inspired</h5>
    </div>
      <h6 class="text-center p-4">HAND-PICKED BITS  BITES</h6>
    
      <div class="d-flex justify-content-center" >
          <span class="d-flex align-items-center">FILTER BY: </span>
          <%= link_to 'All Recipes',root_path, class: "btn btn-primary btn-sm"%> | 
          <%= link_to 'Traditional Recipes',traditional_recipes_path, remote: :true ,class: "btn btn-primary btn-sm"%> | 
          <%= link_to 'Meat Recipes',meat_recipes_path, :remote => true, class: "btn btn-primary btn-sm"%> |
          <%= link_to 'Fish Recipes',fish_recipes_path,:remote => true,  class: "btn btn-primary btn-sm"%> |
          <%= link_to 'Pastry Recipes',pastry_recipes_path, :remote => true, class: "btn btn-primary btn-sm"%> | 
      </div>
  </div>
    <div class="P-6 album text-muted " id ="action_all">
      <div class="container">
        <div class="row">
          <%=render @recipes %>
      </div>
    </div>

</section>

